
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Indifference', sans-serif;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}



:root{
    --body-color: #e6dad0;
    --nav-color: #e6dad0;
    --side-nav: #f5ede5;
    --text-color: #474747;
    --secondary-color: #f2402e;
    

}

body{
    height: 100vh;
    background-color: var(--body-color);

}


nav{
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}



nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin-left: 0 auto;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;

}


.nav-bar .nav-links {
    display: flex;
    align-items: center;

}

.nav-bar .nav-links li{
    margin: 0 10px;
    list-style: none; 

}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 20px;
}


.x-toggle{
    display: none;
}

.projects_menu{
    position: relative;
}

.projects_submenu{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--side-nav);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}



.projects_menu:hover .projects_submenu{
    opacity: 1;
    visibility: visible;
}


.projects_submenu > li > a {
    display: block;
    padding: 12px 15px;
    margin: 0;
    color: var(--text-color);
    font-size: 16px;
}

.dev_menu{
    position: relative;
}

.dev_submenu{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--side-nav);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}

.dev_menu:hover .dev_submenu{
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1000px) {
    nav .nav-bar .sidebarOpen{
        display: block;
        
    }
    


    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;

    }



    nav.active .menu{
        left: 0%;
        


    }


    .x-toggle{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: var(--text-color)
    }


    .x-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;

    }

    .nav-bar .nav-links {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        align-items: flex-start;
        width: 100%;

    }

    .nav-links li a{
        display: block;
        width: 100%;
        margin: 0;
        padding: 15px;
        color: var(--text-color);
    }


}




.index_container1{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    max-width: 1900px;
    margin: 2em auto;
    border: 2px solid transparent;
}



.index_container1_box{
    flex: 4;
    display: flex;
    gap: 1em;
}

.index_container1_box_left{
    display:flex;
    flex: 1;
    border: 2px solid transparent;
    margin-top: 10em;
    color:var(--text-color);
    align-items: flex-start;
    flex-direction: column;
    min-width: 0;

}

.index_container1_box_left h1{
    font-size: 50px;
    margin-bottom: 0.3em;
    margin-left: 0;
    font-weight: bold;
    color:var(--text-color);
}



.index_container1_box_left hr{
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 1em;
    border-top: 5px solid var(--secondary-color);
    max-width: 45em;
}

.index_container1_box_left h2{
    font-size: 43px;
    margin-bottom: 1em;
    margin-left: 0;
    font-weight: 400;
    color:var(--text-color);
    
}

.index_container1_box_left p{
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    color:var(--text-color);
    font-weight: 100;
    word-spacing: 2px;
    
}

.index_container1_box_left button{
    display: inline-block;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border:none;
    border-radius: 1px;
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 0;
    cursor: pointer;
    
}




.index_container1_box_right{
    flex: 1;
    border: 2px solid transparent;
    align-items: center;
    display: flex;
    justify-content: center;

}

.index_container1_box_right img {
    display: flex;
    max-width:100%;
    max-height:100%;
    min-height: 100%;
    
}




@media (max-width: 800px){
    
    .index_container1_box{
        flex-direction: column;
        gap: 2em;
    }


    .index_container1{
        margin: auto;
        width: 90%;
        min-height: auto;
    }


    .index_container1_box_left {
        margin-top: 3em;
        width: 100%;
    }

    .index_container1_box_left h1{
        font-size: 40px;
    }

    .index_container1_box_left hr{
        width: 100%;
    }

    .index_container1_box_left p{
        font-size: 18px;
    }

    .index_container1_box_left h2{
        font-size: 30px;
    }

    .index_container1_box_left button{
        margin-left: 0;
    }

    .index_container1_box_right{
        width: 100%;
    }

    



}
